html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #ecf0f1;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
    color: #2980b9;
    margin: 0;
}

p {
    font-size: 1rem;
    color: #2980b9;
    margin: 0 0 25px 0;
}